
#about{
  padding-top: 30%;
  position: relative;
  width: 100%;
}

.about-section {
  align-items: center;
  justify-content: center;
}
.about-section h2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: var(--bg-color);
  width: 15rem;
  height: 3rem;
 padding: 10px 10px;
  margin-left: 40%;
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 0 0 5px var(--main-color), 0 0 10px var(--main-color);

}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}

.about p{
    font-size: 1.5rem;
    padding-top: 4rem;
 
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 70%;
  height: 550px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin-left: 15%;
  border-radius: 50px;
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
  border: none;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 6s;
  transform-style: preserve-3d;
  border-radius: 50px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: var(--bg-color);
  color: white;
  transform: rotateY(180deg);
}
.arrow-header-about{
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: -200px;
  left: 50%;
  width: 500px;
}
.arrow_middle-about-img{
  width: 100%;
}
@media (max-width: 430px) {
  .arrow-header-about{
    width: 400px;
  }
  .flip-card {
    background-color: transparent;
    width: 100%;
    height: 800px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin-left: 15%;
    border-radius: 50px;
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
    border: none;
  }
  
  

}
